.page {
  display: none;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.item_holder {
  background-color: #fff;
  box-shadow: 0px 2px 16px 2px #0006;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  flex-grow: 0;
  max-width: 500px;
  min-width: 300px;
}
.item_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.item_title_text {
  -webkit-user-select: none;
  user-select: none;
  text-transform: none;
  text-align: start;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.item_button_text {
  -webkit-user-select: none;
  user-select: none;
  text-transform: none;
  align-self: flex-end;
  text-align: end;
  cursor: pointer;
  color: #004d44;
  margin-top: 8px;
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: auto;
  font-size: 18px;
}
.instructions_list{
  padding-inline-start: 24px;
  max-height: 450px;
  overflow-y: auto;
}
.instructions_list > li {
  margin-bottom: 14px;
}
.promo_button_wrapper{
  margin-top: -24px;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  height: 100px;
}
.promo_resin{
  width: 8px; 
  flex-grow: 1;
}
.promo_link{
  height: 100px;
  background-color: transparent;
  padding: 0;
}
.promo_image{
  height: 100px;
}
.top_image{
  width:32px;
  height:32px;
  fill: #00695d
}

@media (prefers-color-scheme: dark) {
  .item_holder {
    background-color: #282828;
  }
  .item_button_text {
    color: #64ffda;
  }
  .top_image{
    fill: #64ffda
  }
}
