.description_icon {
  margin-right: 16px;
  margin-left: 16px;
  width: 32px;
  height: 32px;
}
body {
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5; 
  border: #fff 2px solid;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 3px;
  border: #fff 2px solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}


a {
  text-decoration: none;
  background-color: #a7ffeb;
  color: #004d40;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 8px;
}
.mainBackground {
  display: none;
}

.scrollSource{
    z-index: 5; 
    position: absolute; 
    margin: 0; 
    overflow-y: scroll; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
}

.mainCard {
  background-color: white;
  border-radius: 0px;
  box-shadow: 0px 2px 8px 1px #00000000;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding: 0px 16px 16px 16px;
}

.title {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  font-family: sans-serif;
  margin: 0px;
  margin: 24px 0px 0px 0px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.mobileHeader {
  display: block;
  width: 100%;
  background-image: url(header.webp);
  padding-bottom: 56.25%;
  background-size: contain;
  margin-bottom: 16px;
}

.introBlock {
  position: relative;
  background-color: #a7ffeb; 
  border-radius: 16px;
}

.introText {
  background: #a7ffeb88;
  -webkit-backdrop-filter: blur(6px) brightness(1.1);
  -moz-backdrop-filter: blur(6px) brightness(1.1);
  backdrop-filter: blur(6px) brightness(1.1);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 48px !important;
  font-weight: 400 !important;
  color: #004d40;
  text-shadow: 0px 0px 2px #00000088, 0px 0px 1px #00000088, 0px 0px 1px #00000088;
}

.title {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.date {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  font-family: sans-serif;
  color: #666;
  margin-top: 8px;
  font-style: italic;
}

.paragraph {
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  line-height: 28px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 18px;
  text-align: justify;
}


.bottomPanel{
  display: flex; 
  width: 100%; 
  flex-direction: row; 
  margin-top: 16px;
}

.bottomPanelIcon2{
  background-size: contain;
  height: 48px; 
  width: 48px; 
  flex-shrink: 0; 
  flex-grow: 0; 
  margin-right: 8px; 
  background-image: url(ic_launcher.png);
}

.bottomPanelText2{
  -webkit-user-select: none;
  user-select: none;
  margin:0px; 
  font-family: sans-serif; 
  font-size: 14px; 
  font-style: italic;
}

.bottomPanelLeft{
  display: flex; 
  flex-grow: 1; 
  flex-shrink: 0; 
  height: 48px; 
  flex-direction: column; 
  justify-content: space-between;
}

.bottomPanelRight{
  display: flex; 
  flex-grow: 0; 
  flex-shrink: 0; 
  height: 48px; 
  flex-direction: column; 
  justify-content: space-between;
}

.bottomPanelRightTitle{
  -webkit-user-select: none;
  user-select: none;
  margin:0px; 
  font-family: sans-serif; 
  font-size: 20px; 
  font-weight: 600;
}

.bottomPanleRightCopyRight{
  -webkit-user-select: none;
  user-select: none;
  margin:0px; 
  font-family: sans-serif; 
  font-size: 15px; 
  color: #666;
}

.stat_holder {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}
.stat_top {
  -webkit-user-select: none;
  user-select: none;
  padding-bottom: 8px;
  font-size: 48px;
  font-weight: 600;
  color: #00695d;
  text-align: center;
  flex-basis: 100%;
}
.stat_bottom {
  -webkit-user-select: none;
  user-select: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #000;
  text-align: center;
  flex-basis: 100%;
}
.question_holder {
  background-color: #fff !important;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
}
.question_icon {
  width: 32px;
  flex-shrink: 0;
  height: 32px;
  color: #00695d;
  fill: #00695d;
}
.question_text {
  -webkit-user-select: none;
  user-select: none;
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 20px;
  margin-top: 4px;
}
.question_sideline {
  margin-right: 16px;
  margin-left: 16px;
  width: 2px;
  background-color: #ccc;
}

.pres_container_desktop{
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: center; 
  align-items: center;
}

.pres_container_mobile{
  display: none; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
}

.pres_block{
  padding-right: 32px;
}

.pres_title{
  -webkit-user-select: none;
  user-select: none;
  margin: 16px 0 0 0;
  font-size: 32px;
  text-transform: none;
  text-align: left;
}

.pres_sub{
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 12px;
  text-align: left;
  font-size: 20px;
  line-height: 28px;
}

.pres_icon{
  width: 172px;
  flex-shrink: 0 !important;
  height: 192px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(logo.png);
  font-family: sans-serif; 
  font-size: 15px; 
  color: #666;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.pres_ios_icon{
  width: 172px;
  flex-shrink: 0 !important;
  height: 192px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(ios_logo.png);
  font-family: sans-serif; 
  font-size: 15px; 
  color: #666;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.downloadStripe{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: space-around; 
  margin-top: 8px; 
  padding-bottom: 8px;
}

.downloadButton{
  width: 122px;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 8px;
  height: 122px;
  border-radius: 16px;
  background-color: #a7ffeb;
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.downloadIcon{
  -webkit-user-select: none;
  user-select: none;
  width:96px;
  height:96px;
  fill: #004d40;
}

.downloadTitle{
  -webkit-user-select: none;
  user-select: none;
  margin-top: 0px; 
  font-weight: 600; 
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
  }

  ::-webkit-scrollbar-track {
    background: #262626; 
    border: #111 2px solid;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #404040; 
    border: #111 2px solid;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #313131; 
  }
  
  
  a {
    background-color: #004d40;
    color: #a7ffeb;
  }
  
  .mainCard {
    background-color: #111;
  }
  
  .title {
    color: #fff;
  }
  
  .mobileHeader {
    background-image: url(header-d.webp);
  }

  .introBlock {
    background-color: #004d40; 
  }
  
  .introText {
    background: #004d4088;
    color: #a7ffeb;
    text-shadow: 0px 0px 2px #00000088, 0px 0px 1px #00000088, 0px 0px 1px #00000088;
  }
  
  .date {
    color: #999;
  }
  
  .paragraph {
    color: #fff;
  }
  
  .bottomPanelText2{
    color: #fff;
  }
  
  .bottomPanelRightTitle{    
    color: #fff;
  }
  
  .bottomPanleRightCopyRight{
    color: #999;
  }

  .stat_top {
    color: #64ffda;
  }

  .stat_bottom {
    color: #fff;
  }

  .question_holder {
    background-color: #111 !important;
  }

  .question_icon {
    fill: #64ffda;
  }

  .question_sideline {
    background-color: #333;
  }
    
  .pres_icon{
    color: #999;
  }
  
  .pres_ios_icon{
    color: #999;
  }
    
  .downloadButton{
    background-color: #004d40;
  }
  
  .downloadIcon{
    fill: #64ffda;
  }
}

@media (max-width: 500px) {
  .introText {
    padding: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px !important;
    text-shadow: 0px 0px 8px #ffffff88;
  }

  .title {
    text-align: center;
    font-family: sans-serif;
    margin: 18px 0px 0px 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }

  .pres_container_desktop{
    display: none;
  }

  .pres_container_mobile{
    display: flex;
  }

  .pres_icon{
    width: 96px;
    height:108px;
    font-size: 12px;
  }

  .pres_ios_icon{
    width: 96px;
    height:108px;
    font-size: 12px;
  }

  .pres_block{
    padding-right: 0px;
    text-align: center;
  }
  
  .pres_title{
    margin: 12px 0 0 0 !important;
    font-size: 20px  !important;
    text-transform: none !important;
    text-align: center !important;
  }
  
  .pres_sub{
    margin-bottom: 6px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }

.question_icon {
  width: 24px;
  height: 24px;
}

.question_text {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 16px !important;
  margin-top: 0px;
  line-height: 20px !important;
}
.stat_top {
  padding-bottom: 4px;
  font-size: 36px !important;
}
.stat_bottom {
  font-size: 20px !important;
  line-height: 24px !important;
}

.stat_holder {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
}

  .paragraph {
    line-height: 22px;
    font-size: 14px;
  }

  .bottomPanel {
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 16px;
  }

  .bottomPanelIcon2 {
    background-size: contain;
    height: 36px;
    width: 36px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 8px;
    background-image: url(ic_launcher.png);
  }

  .bottomPanelText2 {
    margin: 0px;
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
  }

  .bottomPanelLeft {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    height: 48px;
    flex-direction: column;
    justify-content: space-between;
  }

  .stat_holder {
    width: 190px;
  }

  .bottomPanelRight {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 36px;
    flex-direction: column;
    justify-content: space-between;
  }

  .bottomPanelRightTitle {
    margin: 0px;
    margin-top: 2px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
  }

  .bottomPanleRightCopyRight {
    margin: 0px;
    margin-bottom: 2px;
    font-family: sans-serif;
    font-size: 11px;
    color: #666;
  }
}
