.description_icon{
  margin-right: 16px;
  margin-left: 16px;
  width: 32px;
  height: 32px;
}
body{
  height: 100%; 
  overflow: hidden; 
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0;
}

a{
    text-decoration: none;
    background-color: #b2dfdb;
    color: #004d40;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 8px;
}

.table_cell_icon{
  width: 24px;
  height: 24px;
  margin: auto;
  display: block !important;
}
.top_2_cell{
  text-align: center;
  border-right: 2px solid #eceff1;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.radio {
  word-break: break-word;
  margin-bottom: 0px;
  flex-wrap: wrap;
  line-height: 20px;
  width: 90%;
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 300;
  padding-right: 16px;
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
}
.radio__input {
  position: absolute;
  top: 4px;
  left: 0;
  width: 36px;
  height: 20px;
  opacity: 0;
  z-index: 0;
}
.radio__label {
  display: block;
  padding: 0 0 0 24px;
  cursor: pointer;
}
.radio__label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 14px;
  z-index: 1;
  transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.radio__label:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #00695c;
  border-radius: 50%;
  z-index: 2;
  transform: scale(0, 0);
  transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.radio__input:checked + .radio__label:before {
  border-color: #00695c;
}
.radio__input:checked + .radio__label:after {
  transform: scale(1, 1);
}



.description_text{
  word-break: break-word;
  margin-bottom: 0px;
  flex-wrap: wrap;
  line-height: 20px;
  width: 90%;
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 300;
  padding-right: 16px;
}
.poster_button{
  font-family: sans-serif;
    margin-top: 8px;
    margin-left: auto;
    text-align: justify;
    color: #0059cc;
    text-decoration: none;
    margin-bottom: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    background-color: #0059cc00;
    cursor: pointer;
    user-select: none;
}
.main_div{
  width: 100%;
  display: flex;
  align-content: center;
  overflow: auto; 
    -ms-overflow-style: none;
    scrollbar-width: none;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
}
.main_div::-webkit-scrollbar {
    display: none;
}
.poster_button:hover{
    background-color: #0059cc22;
}
.poster_button:focus{
    background-color: #0059cc33;
}
.poster_card{
  background-color: #f5f5f5;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px 2px #0000004f;
}
.poster_title{
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 8px;
  color: #00695c;
  font-size: 14px;
  font-weight: 600;
}
.page_title{
  font-family: sans-serif;
  margin-top: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
  padding-bottom: 24px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.info_text{
  word-break: break-word;
  margin-bottom: 0px;
  color: #00695c;
  flex-wrap: wrap;
  line-height: 20px;
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
  padding-right: 16px;
}
.posters_holder{
    width: 100%;
    margin: auto;
    background-color: #fff; 
    border-radius: 8px;
}

@media (max-width: 426px){
  .poster_button{
    font-size: 20px;
    font-weight: 600;
  }
  .top_2_cell{
    writing-mode: vertical-rl;
  }
  .table_cell_icon{
    width: 20px;
    height: 20px;
  }
  .description_text{
    font-size: 16px;
    font-weight: 400;
  }
  .poster_title{
    font-size: 20px;
    text-align: justify;
  }
  .page_title{
    font-size: 24px;
    text-align: center;
  }
  .info_text{
    font-size: 16px;
  }
}